body {
  background-color: white;
  /* width: 80%; */
  margin: 40px auto;
  display: block;
  font-size: 1.3em;
  color: #000000;
  line-height: 1.2em;
}



h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(93, 98, 85);
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 10px;
}



main {
  width: 70%;
  margin: 0px auto;
  display: block;
  font-family: Arial, sans-serif;
  color: #000000;
}

div {
  text-align: center;
}

article {
  text-align: right;
  
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid black
  box-shadow: 5px 5px black

}


li {
  text-align: center;
}



#menu-outer {
	height: 84px;
	background: url(images/bar-bg.jpg) repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}